@using Capstone.Web.Models
@model List<ParkModel>
@{
    ViewBag.Title = "Home";
}

<div id="promo">
    <div class="jumbotron " style="border-radius:100%">
        <img style="max-width:100%;" src="~/Content/logo.png" />
    </div>
</div>

@foreach (ParkModel park in Model)
{
    <div class="row">       
        <div>
            <div class="homepage-image">
                <a href="@Url.Action("Detail","Home", new {id = park.ParkCode })">
                    <img class="img-responsive" src="@Url.Content("~/Content/img/parks/" + park.ParkCode + ".jpg")" />
                </a>
               <hr />
            </div>
                <div class="homepage-name-and-state">@park.ParkName, @park.State</div>
            <br />
           <br />
                <div class="homepage-description">@park.ParkDescription</div>

        </div>
    </div>
}